textarea {
    min-height: 300px;

}

.emails-container {
    margin: 0;
    padding: 0;
}

.email-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 0px;
    margin-bottom: 2px;
    /* add margin-bottom to create space between email boxes */
}

.email-box:hover {
    cursor: pointer;
}

.email-box span {
    /* add display block to create spacing between sender, subject, and timestamp */
    margin-bottom: 5px;
}

.sender {
    flex-basis: 35%;
    margin-right: 10px;
}

.subject {
    flex-basis: 35%;
    margin-left: 30px;
}

.timestamp {
    flex-basis: 30%;
    margin-left: auto;
}

.submitBtn {
    margin-top: 5px;
}